<!DOCTYPE html>
<html>
<head>
    <title>My Map</title>
    <style>
        #map {
            height: 100vh;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map">

    <!-- Replace YOUR_API_KEY with your actual key -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"
        async defer>
    </script>

    <script>
        function initMap() {
            const centerCoords = { lat: -1.0921, lng: 37.0116 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: centerCoords,
            });

            new google.maps.Marker({
                position: centerCoords,
                map: map,
                title: "JKUAT",
            });
        }
    </script>
    </div>
     <a href="{% url 'Bus' %}"
     class="btn btn-success"
     style="
       position: absolute;
       bottom: 20px;
       right: 20px;
       z-index: 10;
       padding: 12px 20px;
       border-radius: 30px;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
       background-color: aqua;
     ">
    Book Now
  </a>
</body>
</html>
